body{
	background-color: #f5f8fa;
}

#banner{
	background-color: #ffffff;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	height: 45px;
	width: 100%;
}
input.search-twitter{
	background-color: #f5f8fa;
	border-radius: 15px;
    margin-top: 5px;
    outline: 0;
    padding: 3px 20px;
}
.profile{
	height: 30px;
}
.profile-box{
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    height: 200px;
    margin-bottom: 15px;
}
.trends{
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    height: 450px;
    margin-bottom: 15px;
}
.feed-container{
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    height: 1400px;
    margin-bottom: 15px;
}
.who-to-follow-container{
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    height: 350px;
    margin-bottom: 15px;
}
.legal-copy{
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    height: 75px;
    margin-bottom: 15px;
}
.tweet button{
	background-color: #339CC3;
	border: 0;
	border-radius: 5px;
	color: #ffffff;
    height: 30px;
    outline: 0;
    width: 90px;
}
.logo{
	height: 20px;
	left: 50%;
	position: absolute;
	top: 10px;
	width: 20px;
}
.top-left-navigation{
	float: left;
}
.top-right-navigation{
	float: right;
}
.top-left-navigation ul li, .top-right-navigation ul li{
	display: inline-block;
}