body{
	background-color: #f5f8fa;
}

#banner{
	background-color: #ffffff;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	height: 45px;
	position: fixed;
	width: 100%;
	z-index: 5;
}
#main-content{
	position: relative;
    top: 55px;
}
input.search-twitter{
	background-color: #f5f8fa;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 15px;
    margin-top: 5px;
    outline: 0;
    padding: 5px 25px;
}
.profile{
	height: 30px;
}
.profile-box{
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    height: 200px;
    margin-bottom: 15px;
    position: relative;
}
.follow-links{
	padding: 10px;
}
.top-box-2{
	background-color: #ffffff;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	height: 70%;
}
.bottom-box-2{
	height: 15%;
}
.middle-box{
	height: 15%;
}
.follow-links a{
	font-size: 12px;
}
.follow-links h4, .follow-links a{
	display: inline-block;
	margin-right: 10px;
}
.search-icon{
	height: 15px;
    position: relative;
    right: 10%;
}
.trends{
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    height: 450px;
    margin-bottom: 15px;
}
.prof-pic{
	background-color: #0084B4;
	border: 4px solid #ffffff;
	border-radius: 5px;
	bottom: 60px;
	height: 75px;
	left: 10px;
	position: absolute;
	width: 75px;
}
.prof-img{
	border-radius: 5px;
    height: 67px;
    width: 67px;
}
.top-box{
	background-color: #0084B4;
	height: 50%;
	position: relative;
}
.bottom-box{
	background-color: #ffffff;
	height: 50%;
}
.feed-container{
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    height: 1400px;
    margin-bottom: 15px;
}
.who-to-follow-container{
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    height: 400px;
    margin-bottom: 15px;
}
.legal-copy{
	border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    height: 75px;
    margin-bottom: 15px;
}
.tweet button{
	background-color: #339CC3;
	border: 0;
	border-radius: 5px;
	color: #ffffff;
    height: 30px;
    outline: 0;
    width: 90px;
}
.logo{
	height: 20px;
	position: absolute;
	top: 10px;
	width: 20px;
}
.top-right-navigation{
	text-align: right;
}
.top-left-navigation ul li, .top-right-navigation ul li{
	display: inline-block;
}
.top-left-navigation ul li{
	font-size: 13px;
	padding: 12px 15px;
}