/*GLOBAL STYLES*/
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #e9e9e9;
}

#header{
  background: #333;
  background-image: -webkit-linear-gradient(top, #555555 0%, #515151 18%, #373737 85%, #333333 100%);
  background-image: -moz-linear-gradient(top, #555555 0%, #515151 18%, #373737 85%, #333333 100%);
  background-image: -o-linear-gradient(top, #555555 0%, #515151 18%, #373737 85%, #333333 100%);
  background-image: linear-gradient(top, #555555 0%, #515151 18%, #373737 85%, #333333 100%);
  -webkit-box-shadow: 0 0 10px #333;
  -moz-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
  font-size: 13px;
  line-height: 17px;
  color: #333;
  font-weight: normal;
  z-index: 10001;
  height: 42px;
  position: fixed;
  top: 0;
  width: 100%;
}

#search{
  width: 30%;
  height: 30px;
}

.header_wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 974px;
  position: relative
}

#global_search{
  padding: 7px 0 6px;
  float: right;
  margin-left: 156px;
  box-sizing: content-box
}

/*Hamburger Menu Css*/
#hamburger {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0px;
  cursor: pointer;
  transition: all 600ms ease;
}
#hamburger #el {
  cursor: pointer;
  width: 20px;
  padding: 0px;
  height: 3px;
  background: black;
  box-shadow: 0px 0px 0px transparent;
  border: 0px transparent;
  text-indent: -999px;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  -webkit-appearance: none;
  line-height: 0px;
  transition: all 300ms ease;
  border-radius: 99px;
}
#hamburger #el:active, #hamburger #el:focus {
  outline: 0px;
  border: 0px;
}
#hamburger #el::after, #hamburger #el::before {
  display: block;
  content: "";
  position: absolute;
  left: 0px;
  height: 3px;
  background: black;
  width: 100%;
  transition: all 300ms ease;
  border-radius: 99px;
}
#hamburger #el::after {
  top: -15px;
}
#hamburger #el::before {
  bottom: -15px;
  left: auto;
  right: 0px;
}
#hamburger.active {
  transform: rotate(360deg);
}
#hamburger.active #el {
  background: transparent;
}
#hamburger.active #el:after {
  transform: rotate(-135deg) translate(-10px, -10px) scale(1.2, 1.2);
}
#hamburger.active #el:before {
  transform: rotate(135deg) translate(-10px, 10px) scale(1.2, 1.2);
}

#main_content_wrapper{
  margin: 80px auto 0px auto;
  width: 975px;
  max-width: 975px;
}

#card_profile{
  background-color: #fff;
}

#profile{
  float: left;
  width: 646px;
}

#side_panel{
  margin-left: 10px;
  float: left;
  width: 318px;
}

#profile_overview{
  float: right;
  width: 405px;
  padding: 0 20px 20px;
}

.profile-overview-content{
  padding: 20px 70px 15px 0;
}

#profile_picture{
  float: left;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 20px 0;
}

.profile_image{
  height: 225px;
  max-height: 225px;
  width: 200px;
  max-width: 200px;
}

.profile-card{
  overflow: hidden;
  position: relative;
}

.profile-section{
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  margin-bottom: 10px;
}

#profile #name {
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
}

#profile .headline {
    padding: 1px 0;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    font-weight: normal;
}

#profile #demographics .descriptor {
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
    color: #66696a;
}

#profile #demographics dt {
    display: none;
}

#profile .extra-info {
    margin-top: 10px;
}

#profile .extra-info th {
    font-size: 11px;
    color: #999;
    padding-right: 20px;
    white-space: nowrap;
}

ol, ul {
    list-style: none;
}

#profile .member-connections {
    font-size: 11px;
    color: #999;
    padding: 7px 0 0 10px;
    line-height: 15px;
    vertical-align: bottom;
    text-align: right;
}

/*EXPERIENCE SECTION CSS*/
.profile-section .title {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #434649;
    padding: 30px 35px 0;
}

.profile-section > ul > li {
    overflow: hidden;
    padding: 30px 35px;
    border-bottom: 1px solid #ddd;
}

.profile-section .logo {
    float: right;
    width: 100px;
    text-align: center;
}

.profile-section .item-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
}

.profile-section .item-subtitle {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #434649;
}

.profile-section .meta {
    font-size: 12px;
    line-height: 14px;
    color: #66696a;
}

.profile-section .description {
    font-size: 13px;
    line-height: 17px;
    color: #333;
    font-weight: normal;
    margin-top: 15px;
}

/*SKILLS SECTION CSS*/
.profile-section .pills {
    padding: 30px 35px;
}

#skills.profile-section .translation-voter-wrap {
    margin-left: 35px;
    margin-top: -25px;
}

.translation-voter-wrap {
    padding: 2px;
    overflow: hidden;
}

.profile-section .expander-state-checkbox {
    display: none;
}

.profile-section .pills li {
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
    -webkit-transition: all 0.07s;
    -moz-transition: all 0.07s;
    -o-transition: all 0.07s;
    transition: all 0.07s;
    display: inline-block;
    border: 0;
    margin: 0 5px 5px 0;
    padding: 0;
    font-size: 13px;
    line-height: 17px;
    color: #333333;
    font-weight: normal;
    background: #f1f1f1;
    border-radius: 2px;
    text-decoration: none;
}

.profile-section > ul > li {
    overflow: hidden;
    padding: 30px 35px;
    border-bottom: 1px solid #ddd;
}

.profile-section .pills li a {
    color: #333;
    display: inline-block;
    border-radius: 2px;
}

.profile-section .pills li .wrap {
    display: inline-block;
    padding: 5px 10px 4px;
}
